.preparationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .selectorsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
